@charset "UTF-8";

.title{
	color: #07e;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: transparent;
	line-height: 22px;
	font: normal 21px/23px "ProximaNovaSemibold",Helvetica,Arial,sans-serif;
	text-shadow: 1px 1px 0 white;
}
.title:hover{
    color: #E32;
    text-decoration: none !important;
}
a :hover{
    text-decoration: none !important;
}

.head-title{
    color: #E32;
    font-size: 100%;
    background: transparent;
    line-height: 22px;
    font: normal 21px/23px "ProximaNovaSemibold",Helvetica,Arial,sans-serif;
}

.small-meta{
    color: #aaa;
    font-size: 10px;
}


.title-demo2{
    color: #222;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 90%;
    background: transparent;
    line-height: 22px;
    font: normal 19px/23px "ProximaNovaSemibold",Helvetica,Arial,sans-serif;
    text-shadow: 1px 1px 0 white;
}
.title-demo2:hover{
    color: #E32;
    text-decoration: none !important;
}

.title-demo2-medium{
    color: #07e;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 90%;
    background: transparent;
    line-height: 22px;
    font: normal 19px/23px "ProximaNovaSemibold",Helvetica,Arial,sans-serif;
    text-shadow: 1px 1px 0 white;
}

.title-demo2-medium:hover{
    /*color: #E32;*/
    text-decoration: none !important;
}

.menu{
    padding: 0 20px;
    border-left: 1px solid #c2c2c2;
    float: left;
}

.logo{
    float: left;
    width: 240px;
    font-size: 70px;
    color: #0000FF;
    height: 50px;
    /*margin: 15px 0 0 0;*/
}

.table-edit{
    width: 100%;
    margin-bottom: 20px;
}

.post-title{
    clear: left;
    color: #333333;
    font-family: "ProximaNovaSemibold",Helvetica,Arial,sans-serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 38px;
    margin: 10px 0;
    text-transform: none;
    letter-spacing: normal;
}

.description{
    font-size: 17px;
    line-height: 23px;
    color: #333;
    font-family: "ProximaNovaRegular",Helvetica, Arial, sans-serif;
    margin: 0px 0px 11px 0px;
}

.alert-success {
    background: url("../img/success.png") no-repeat scroll 10px 50% transparent;
    font-weight: bold;
    text-indent: 25px;
}

.alert-error {
    background: url("../img/error.png") no-repeat scroll 10px 50% transparent;
    font-weight: bold;
    text-indent: 25px;
}

.alert-warning {
    background: url("../img/wraning.ico") no-repeat scroll 5px 9px transparent;
    font-weight: bold;
    text-indent: 15px;
}

span.buzz_datetime{
    display: block;
    margin-top: 4px;
    font-family: Arial,Helvetica,sans-serif;
    text-transform: none;
    letter-spacing: -.02em;
    padding-left: 0px;
    font-weight: normal;
    font-size: 10px;
    color: #999;
}

.user-bg{
    margin: 2px 0px 20px 0px;
}
.c{
    clear: both;
    float: none;
}
.user-name{
    font-size: 14px;
    font-weight: bold;
}

.meta{
    overflow: hidden;
    font-family: Arial,Helvetica,sans-serif;
}

.user-info {
    border: none;
    margin: 0px 30px 5px 0px;
    padding-top: 0px;
    float: left;
}

.author_title {
    display: block;
    width: 160px;
    line-height: 12px;
}
.user-info .user-info-info {
    float: left;
}

.ago {
    display: none !important;
}

.social-links {
    float: left;
    margin-top: 8px;
}

div.fb-subscribe_btn {
    margin-right: 0;
    width: 190px;
    height: 20px;
}

div.title-img-large{
    margin-top: -150px;
    font-size: 40px;
    line-height: 40px;
    position: absolute;
    right: 20px;
    bottom: 10px;
    background: rgb(255,255,255);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    width: 360px;
    clear: none;
    float: right;
}

.title-img-large:hover{
    color: #FAFAFA !important;
    margin-top: -150px;
    font-size: 40px;
    line-height: 40px;
    position: absolute;
    right: 20px;
    bottom: 10px;
    background: #07e;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    width: 360px;
    text-decoration: none !important;
}

.splash-overlay{
    margin-bottom: 15px;
    margin-right: 10px;
}

.current{
    float: left;
    padding: 6px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-left-width: 0;
    background-color: #2E2EFE;
}

.img_url{
    color: #151515;
}

.img_url:hover{
    color: #FAFAFA;
    text-decoration: none;
}

.space_share{
    margin-top: 15px;
    margin-bottom: 15px;
}

#footer{
    background-color: #f2f2f2;
    color: #777;
    padding: 20px;
    height: 180px;
    margin-top: 20px;
}

.title-content{
    font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 25px !important;
}

.title-top{
    font-size: 30px;
    font-weight: bold;
}