@charset "UTF-8";

.title{
	color: #07e;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: transparent;
	line-height: 22px;
	font: normal 21px/23px "ProximaNovaSemibold",Helvetica,Arial,sans-serif;
	text-shadow: 1px 1px 0 white;
}
.title:hover{
    color: #E32;
    text-decoration: none !important;
}
a :hover{
    text-decoration: none !important;
}

.head-title{
    color: #E32;
    font-size: 100%;
    background: transparent;
    line-height: 22px;
    font: normal 21px/23px "ProximaNovaSemibold",Helvetica,Arial,sans-serif;
}

.small-meta{
    color: #aaa;
    font-size: 10px;
}


.title-demo2{
    color: #222;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 90%;
    background: transparent;
    line-height: 22px;
    font: normal 19px/23px "ProximaNovaSemibold",Helvetica,Arial,sans-serif;
    text-shadow: 1px 1px 0 white;
}
.title-demo2:hover{
    color: #E32;
    text-decoration: none !important;
}

.title-demo2-medium{
    color: #07e;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 90%;
    background: transparent;
    line-height: 22px;
    font: normal 19px/23px "ProximaNovaSemibold",Helvetica,Arial,sans-serif;
    text-shadow: 1px 1px 0 white;
}

.title-demo2-medium:hover{
    /*color: #E32;*/
    text-decoration: none !important;
}

.menu{
    padding: 0 20px;
    border-left: 1px solid #c2c2c2;
    float: left;
}

.logo{
    float: left;
    width: 240px;
    font-size: 70px;
    color: #0000FF;
    height: 50px;
    /*margin: 15px 0 0 0;*/
}

.table-edit{
    width: 100%;
    margin-bottom: 20px;
}

.post-title{
    clear: left;
    color: #333333;
    font-family: "ProximaNovaSemibold",Helvetica,Arial,sans-serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 38px;
    margin: 10px 0;
    text-transform: none;
    letter-spacing: normal;
}

.description{
    font-size: 17px;
    line-height: 23px;
    color: #333;
    font-family: "ProximaNovaRegular",Helvetica, Arial, sans-serif;
    margin: 0px 0px 11px 0px;
}

.alert-success {
    background: url("../img/success.png") no-repeat scroll 10px 50% transparent;
    font-weight: bold;
    text-indent: 25px;
}

.alert-error {
    background: url("../img/error.png") no-repeat scroll 10px 50% transparent;
    font-weight: bold;
    text-indent: 25px;
}

.alert-warning {
    background: url("../img/wraning.ico") no-repeat scroll 5px 9px transparent;
    font-weight: bold;
    text-indent: 15px;
}